        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="main-heading text-center">
                        <img src="/assets/images/tlumx-logo.png" class="img-responsive center-block" alt="Tlumx">
                        <span class="main-heading-desc"><h1>Tlumx</h1> is a powerful PHP framework, a set of PHP packages and solutions for quickly creation all kinds of Web applications and services.</span>
                    </div>
                </div>
            </div>
        </div>